{{ define "main" }}
<article>
  <header class="mb-16">

<h1 class="!my-0 pb-2.5">{{ .Title }}</h1>
{{ if ne .Type "page" }}
<span class="middot-divider">
  {{ if .Lastmod }}Updated:  <abbr class="updated"><time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time></abbr>
  {{ else if .Date }}Published:  <abbr class="published"><time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></abbr>
  {{ end }}
</span>

<div class="text-sm antialiased opacity-60">
{{ if .Params.categories }}
  {{ range .Params.categories }} {{ $href := print (absURL "categories/") (urlize .) }}
  Published in: <a  href="{{ $href }}">{{ . }}</a>
  {{ end }}
{{ end }}
{{ end }}

  {{ if ( .Site.Params.toc | default true ) }}
          {{ partial "toc.html" . }}
  {{ end }}
  </header>
  
  <section>
  {{ .Content }}
  <div class="content-module">
  <div class="note"><h6 class="semibold">Disclaimer</h6></div>
  <p>All information and code on this site is for informational purposes only and provided as-is. This site does not provide any warranty, either express or implied. All thoughts and opinions are my own.</p>
  <p>本站上的所有信息和代码仅供参考，并按原文提供。本网站不提供任何明示或提示的保证。所有观点和意见均为个人所有。</p>
  </div>
  </section>

  <!-- Post Tags -->
  {{ if .Params.tags }}
  <footer class="mt-12 flex flex-wrap">
    {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
    <a
      class="mb-1.5 mr-1.5 rounded-lg bg-black/[3%] px-5 py-1.5 no-underline dark:bg-white/[8%]"
      href="{{ $href }}"
      >{{ . }}</a
    >
    {{ end }}
  </footer>
  {{ end }}
  

  

  <!-- Post Nav -->
  {{ if not site.Params.disablePostNavigation }}<!---->
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
  {{ if and (gt (len $pages) 1) (in $pages . ) }}
  <nav class="mt-24 flex rounded-lg bg-black/[3%] text-lg dark:bg-white/[8%]">
    {{ with $pages.Next . }}
    <a
      class="flex w-1/2 items-center rounded-l-md p-6 pr-3 font-semibold no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]"
      href="{{ .Permalink }}"
      ><span class="mr-1.5">←</span><span>{{ .Name }}</span></a
    >
    {{ end }}<!---->
    {{ with $pages.Prev . }}
    <a
      class="ml-auto flex w-1/2 items-center justify-end rounded-r-md p-6 pl-3 font-semibold no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]"
      href="{{ .Permalink }}"
      ><span>{{ .Name }}</span><span class="ml-1.5">→</span></a
    >
    {{ end }}
  </nav>
  {{ end }}<!---->
  {{ end }}



{{ end }}
