{{ define "main" }}

<article>
  <header class="mb-16">
    {{ if .Params.featured_image }}
    <div class="banner-image">
        <picture>
            {{ if fileExists (replace .Params.featured_image "jpg" "avif") }}
                <source type="image/avif" 
                        srcset="{{ replace .Params.featured_image "jpg" "avif" }}, {{ replace .Params.retina_image "jpg" "avif" }} 2x"
                        width="800"
                        height="150"
			loading="lazy"
                        alt="{{ .Title }}">
            {{ end }}
            <img src="{{ .Params.featured_image }}" 
                 srcset="{{ .Params.featured_image }} 1x, {{ .Params.retina_image }} 2x"
		 data-src="{{ .Params.featured_image }}" 
                 width="800"
                 height="150"
		 loading="lazy"
                 alt="{{ .Title }}">
          </picture>
    </div>
{{ end }}
<!-- {{ partial "breadcrumb.html" . }} -->
    <h1 class="!my-0 pb-2.5">{{ .Title }}</h1>

{{ if ne .Type "page" }}
	<div class="text-sm antialiased opacity-60">
	  {{ if .Params.categories }}
		{{ range .Params.categories }} {{ $href := print (absURL "categories/") (urlize .) }}
			Published in <a  href="{{ $href }}">{{ . }}</a>
	  {{ end }}
<span class="middot-divider">
  {{ if and (ne .Lastmod .Date) (ne .Lastmod .Params.publishDate) }}
  Updated:
  <abbr class="updated"><time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time></abbr>
  {{ else if .Params.publishDate }}
  Created:
  <abbr class="published"><time datetime="{{ .Params.publishDate.Format "2006-01-02" }}">{{ .Params.publishDate.Format "2006-01-02" }}</time></abbr>
  {{ else if .Date }}
  Created:
  <abbr class="published"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></abbr>
  {{ end }}
</span>
<!--{{ printf " %d min read" .ReadingTime }} -->
</div>
{{ end }}
{{ if ne .Type "post" }}
  {{ if .Lastmod }}
    Update:   <abbr class="updated"><time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time></abbr>
  {{ else }}
    Created:  <abbr class="published"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></abbr>
  {{ end }}
{{ end }}

{{ end }}
{{ if ( .Site.Params.toc | default true ) }}
          {{ partial "toc.html" . }}
	{{ end }}
 </header>
 
  <section>{{ .Content }}</section>
  <!-- Post Tags -->
  {{ if .Params.tags }}
  <footer class="mt-12 flex flex-wrap">
    {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
    <a
      class="mb-1.5 mr-1.5 rounded-lg bg-black/[3%] px-5 py-1.5 no-underline dark:bg-white/[8%]"
      href="{{ $href }}"
      >{{ . }}</a
    >
    {{ end }}
  </footer>
  {{ end }}

<br>

{{ if ne .Type "page" }}
{{ range .Params.authors }}
<section class="meta-author">

<dl>
<dt>由:</dt>
<dd class="l-cluster">
<ul class="clean-list" role="presentation">
<li>
<span class="with-icon--before with-icon--larger">
<span class="avatar avatar--small icon"><img src="{{ .avatar }}" alt="{{ .name }}" loading="lazy"></span> {{ .name }}        
</span>
</li>

</ul>
</dd>
<p>{{ .bio }}</p>
{{ end }}


</dl>

</section>

{{ end }}




  <!-- Post Nav -->
  {{ if not site.Params.disablePostNavigation }}<!---->
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
  {{ if and (gt (len $pages) 1) (in $pages . ) }}
  <nav class="mt-24 flex rounded-lg bg-black/[3%] text-lg dark:bg-white/[8%]">
    {{ with $pages.Next . }}
    <a
      class="flex w-1/2 items-center rounded-l-md p-6 pr-3 font-semibold no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]"
      href="{{ .Permalink }}"
      ><span class="mr-1.5">←</span><span>{{ .Name }}</span></a
    >
    {{ end }}<!---->
    {{ with $pages.Prev . }}
    <a
      class="ml-auto flex w-1/2 items-center justify-end rounded-r-md p-6 pl-3 font-semibold no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]"
      href="{{ .Permalink }}"
      ><span>{{ .Name }}</span><span class="ml-1.5">→</span></a
    >
    {{ end }}
  </nav>
  {{ end }}<!---->
  {{ end }}

</article>

{{/*  Load plyr.io  */}}

{{ if or ( .HasShortcode "audio" ) ( .HasShortcode "video" )  ( .HasShortcode "archive-audio" ) }}

    <link rel="stylesheet" href="/css/plyr.css">

    <script src="/js/plyr.polyfilled.js" crossorigin="anonymous"></script>
    <script>
      (function() {
        const players = Array.from(document.querySelectorAll('.player')).map(
            p => new Plyr(p, {
                controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'download', 'fullscreen'],
            // autoplay: true,  // 这里使用标准 JavaScript 注释
            // settings: ['speed']  // 标准 JavaScript 注释
            })
        );
        {{/*  Stop other players when starting  */}}
        players.forEach(function(p){
            p.on('play', event => {
                const instance = event.detail.plyr;
                console.log('Stop others players');
                players.forEach(function(p){ if(p != instance) p.stop()});
            })
        });
    })();
    </script>

{{ end }}

{{ end }}
