<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <meta name="robots" content="noindex, nofollow">

  <!-- Title -->
  <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

  <!-- Meta -->
  <meta name="theme-color" />

  <!-- Author -->
  {{ $site_author := or site.Author.name site.Params.name site.Title }}
  <!---->
  {{ if eq .Kind "page" }}

  <meta name="author" content="{{ or .Params.author $site_author }}" />
  {{ else }}
  
  <!--<meta
    name="description"
    content="{{ site.Params.description | default (print `A personal blog`) }}"
  />-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="{{ .Site.Params.Description }}" />
  <meta name="author" content="{{ $site_author }}" />
  {{ end }}

  <!-- CSS & JS -->
  <link rel="stylesheet" href="/css/result.css">

  {{ $main := resources.Get "main.css" }}
  <!---->
  {{ $custom := resources.Get "custom.css" }}
  <!---->
  {{ $css := slice $main $custom | resources.Concat "main.css" | minify }}
  <link rel="preload stylesheet" as="style" href="{{ $css.Permalink }}" />
  
  <script src="{{.Site.BaseURL}}js/jiafeng.js"></script>
  <!--<script src="{{.Site.BaseURL}}css/plyr.css"></script>-->
<link rel="preload" href="https://cdn.plyr.io/3.7.8/plyr.css" as="style" media="all" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css"></noscript>
  <!--<script src="{{.Site.BaseURL}}js/plyr.js"></script>-->
  <!--<script src="{{.Site.BaseURL}}js/plyr.polyfilled.js"></script>-->
  <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>

  <!-- Dark Icon -->
  {{ $dark_icon := "themes.svg" }}
  <!---->
  {{ if site.Params.monoDarkIcon }}{{ $dark_icon = "theme.svg" }}{{ end }}
  <!---->
  <link rel="lazyload" as="image" href="{{ $dark_icon | absURL }}" />

  <!-- Social List -->
  {{ range $.Scratch.Get "social_list" }}
  <link rel="lazyload" as="image" href="{{ printf `%s.svg` . | absURL }}" />
  {{ end }}
  <!---->

  <!-- Highlight JS -->
  {{ if and .IsPage (not site.Params.disableHLJS) }}
  <script
    defer
    src="{{.Site.BaseURL}}\js\highlight.min.js"
    onload="hljs.initHighlightingOnLoad();"
  ></script>
  {{ end }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script async src="https://cdn.seline.so/seline.js"></script>
  <!-- Math -->
  {{ if or .Params.math site.Params.math }}
  <!---->
  {{ partial "math.html" . }}
  <!---->
  {{ end }}
  <!---->

  <!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="{{ `favicon.svg` | absURL }}">
<link rel="icon" href="{{ `favicon.ico` | absURL }}" />
<link rel="apple-touch-icon" href="{{ `apple-touch-icon.png` | absURL }}" />

<link rel="alternate"
      type="application/rss+xml"
      href="{{.Site.BaseURL }}index.xml"
      title="{{ .Site.Title }}">

<link rel="alternate"
      type="application/rss+xml"
      href="https://feeds.feedburner.com/brando"
      title="{{ .Site.Title }}">    
{{ if eq .Type "post" }}
    <!-- 仅在单个文章页面添加指向 XML 文件的链接 -->
    <link rel="alternate" type="application/xml" title="XML" href="{{ .Permalink }}index.xml">
    {{ end }}

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}


</head>
