<div class="post-toc" id="post-toc">
  <h2 class="post-toc-title">{{ T "toc" }}</h2>
  {{ $autoCollapseToc := .Site.Params.autoCollapseToc | default false }}
  <div class="post-toc-content{{ if not (or .Params.autoCollapseToc (and $autoCollapseToc (ne .Params.autoCollapseToc false))) }} always-active{{ end }}">
    {{.TableOfContents}}
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    var toc = document.getElementById('post-toc');
    var comment = document.querySelector('.post-comment');
    var tocTop = toc.offsetTop;

    window.addEventListener('scroll', function () {
      var scrollTop = window.scrollY;
      var tocHeight = toc.offsetHeight;
      var commentTop = comment ? comment.offsetTop : document.body.scrollHeight;

      if (scrollTop >= tocTop) {
        toc.style.position = 'fixed';
        toc.style.top = Math.min(0, commentTop - scrollTop - tocHeight) + 'px';
      } else {
        toc.style.position = 'absolute';
        toc.style.top = tocTop + 'px';
      }
    });
  });
</script>
