/* Place custom css here. */
  body {
      font-family: "AlimamaFangYuanTiVF", "Roboto", sans-serif;
      font-weight: 400;
      font-size: 1.1em;
      line-height: 1.7em;
      color: #414141;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      overflow-x: hidden;
  }

  article.post p.meta {
    margin: 1em 0.5em 0.3em 0.5em; }

  article.post h1 {
    margin: 0 0.1em 0.5em 0.1em;
    padding: 0; }

  figure figcaption {
    color: #666666;
    font-style: italic;
    font-size: 0.7em; }

    hr {
    height: 3px;
    display: block;
    border: none;
    margin: 3rem auto;
    background: #e8e8e8;
    width: 7rem;
  }